<%- include("../../layouts/header.ejs") %>
<form action="" method="post" id="delete-inquiry-form"></form>
<main class="">
    <div class="row">
        <div class="container-md">
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-between my-3 align-items-center">
                <h4>Inquiries</h4>
            </div>

            <%- include("../../components/validation-error") %>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped rounded-3 overflow-hidden">
            <thead class="table-apex-secondary ">
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Message</th>
                <th scope="col">Sent At</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <% inquiries.forEach((inquiry, index) => { %>
                <tr>
                    <th scope="row" class="text-center"><%= index + 1; %></th>
                    <td><%= inquiry.name; %></td>
                    <td><%= inquiry.email; %></td>
                    <td><%= inquiry.phone; %></td>
                    <td><%= shortenString(inquiry.message, 50); %></td>
                    <td class="created-at"><%= new Date(inquiry.created_at).toISOString(); %></td>
                    <td style="width: 15%">
                        <div class="modal fade" tabindex="-1" id="modal-message-<%= inquiry.id %>">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Message</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p><%= inquiry.message %></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#modal-message-<%= inquiry.id %>"><i class="fa-regular fa-eye"></i>
                        </button>
                        <button class="btn btn-outline-danger deleteInquiry" data-id="<%= inquiry.id; %>"><i
                                    class="fas fa-trash"></i></button>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</main>

<script>
  $(".deleteInquiry").click(deleteInquiry)
  function deleteInquiry() {

    const inquiryId = this.getAttribute("data-id")
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this inquiry!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        $("#delete-inquiry-form")
          .attr("action", `/admin/inquiries/${inquiryId}/delete`)
          .submit()
      }
    })
  }
</script>

<%- include("../../layouts/footer.ejs") %>
