<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head') %>
    <title><%= `${title} - ` || ''; %> Apex</title>
</head>
<body>
<div class="row">
    <div class="col-lg-3 col-md-4">

        <%- include('../layouts/admin_sidebar') %>
    </div>
    <div class="col-lg-9 col-md-8">
        <section id="right-container" class="mx-md-5">
            <div class="greeting my-3 py-3 px-4 d-none d-md-flex align-items-center justify-content-between">
                <span class="fs-5">Hello, <%= session.user.name %> 👋</span>
                <img
                        alt="profile picture"
                        class="profile-img"
                        src="<%= gravatar(session.user.email) %>"
                />
            </div>