<%- include("../../layouts/header.ejs") %>
<form action="" method="post" id="delete-category-form"></form>
<main class="">
    <div class="row">
        <div class="container">
            <!-- Button trigger modal -->
            <div class="container d-md-flex justify-content-between my-3">
                <h4>Category</h4>
                <button
                        type="button"
                        class="btn btn-success rounded-4"
                        data-bs-toggle="modal"
                        data-bs-target="#createModal"
                >
                    Create
                </button>
            </div>

            <%- include("../../components/validation-error")%>

            <!-- Create Modal -->
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="createModalLabel">
                                Create Category
                            </h1>
                            <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                            ></button>
                        </div>
                        <form method="post" action="/admin/category/create">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="categoryName">Name</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="categoryName"
                                            name="categoryName"
                                    />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-apex">
                                    Create Category
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped rounded-3 overflow-hidden">
            <thead class="table-apex-secondary ">
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col">Category</th>
                <th scope="col">Slug</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% let i = 1; categories.forEach((category) => { %>
                <tr>
                    <th class=" text-center"><%= i; %></th>
                    <td><%= category.name; %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <div class="d-flex gap-2">
                            <a href="/admin/category/edit/<%- category.id; %>"
                               class="btn btn-outline-secondary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a data-id="<%= category.id; %>" href="#"
                               class="deleteCategory btn btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>

                </tr>
            <% i++; }); %>
            </tbody>
        </table>
    </div>
</main>

<script>
  $(".deleteCategory").click(deleteCategory)

  function deleteCategory() {

    const categoryId = this.getAttribute("data-id")
    swal({
      title: "Are you sure?",
      text: "Once deleted, you will not be able to recover this category!",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        $("#delete-category-form")
          .attr("action", `/admin/category/delete/${categoryId}`)
          .submit()
      }
    })
  }
</script>

<%- include("../../layouts/footer.ejs") %>
