<%- include("./layouts/header") %>

<!-- Breadcrumb -->
<%- include("./partials/breadcrumb", {breadcrumbs: [
{"url": "/", "name": "Home"},
{ "name": "Cart"}
]}) %>
<section id="cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Your Shopping Cart</h2>
                <% if (cart.length) { %>
                    <div class="table-responsive">
                        <table class="table cart-table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Example Cart Item -->
                            <% cart.forEach(item => { %>
                                <tr>
                                    <td style="width: 40%">
                                        <div class="d-flex flex-wrap flex-lg-nowrap">
                                            <div class="img-container me-lg-4 mb-3 mb-lg-0" style="width: 150px">
                                                <img src="/<%= item.product.product_images[0]?.image_path %>"
                                                     class="img-fluid"
                                                     alt="Product Image">
                                            </div>
                                            <div class="product-info">
                                                <span class="fw-bold"><%= item.product.name %></span>
                                                <br>
                                                <%- item.product.description %>
                                            </div>
                                        </div>
                                    </td>
                                    <td>฿<span class="unit-price"
                                               data-product-id="<%= item.product.id %>"><%= item.product.sale_price.toFixed(2) %></span>
                                    </td>
                                    <td style="width: 10%; min-width: 150px">
                                        <div class="input-group">
                                            <button class="btn btn-outline-secondary reduce-qty-btn" type="button">-
                                            </button>
                                            <input type="text" class="form-control p-0 text-center"
                                                   value="<%= item.quantity %>" readonly
                                                   data-product-id="<%= item.product.id %>"
                                                   aria-label="Quantity">
                                            <button class="btn btn-outline-secondary increase-qty-btn" type="button">+
                                            </button>
                                        </div>
                                    </td>
                                    <td>฿<span class="subtotal"
                                               data-product-id="<%= item.product.id %>"><%= (item.product.sale_price * item.quantity).toFixed(2) %></span>
                                    </td>
                                </tr>
                            <% }) %>

                            <tr>
                                <td colspan="5">
                                    <div style="text-align: right">
                                        <p class="m-0 fw-bold">
                                            Total: <span class="ms-4">฿<span class="total"><%= totalPrice %></span></span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
            </div>

            <div class="col-md-12 d-flex justify-content-end">
                <button class="py-2 px-4 btn btn-apex rounded-0">Proceed to Checkout</button>
            </div>
            <% } else { %>
                <div class="col-md-12 mt-5 d-flex flex-column align-items-center justify-content-center">
                    <img src="/images/empty-cart.svg" class="img-fluid w-25" alt="Empty Cart">
                    <p class="text-center mt-5 fw-bold fs-3">It's pretty empty here...</p>
                    <a href="/" class="btn mt-2 btn-outline-apex">Continue Shopping</a>
                </div>
            <% } %>
        </div>
    </div>
</section>

<script>
  $(document).ready(() => {
    $('.reduce-qty-btn').click(function() {
      const input = $(this).closest('td').find('input');
      input.val(parseInt(input.val()) - 1);
      const productId = input.data('product-id');
      updateCart(productId, input.val());
      if (input.val() === '0') {
        $(this).closest('tr').remove();
      }
    });

    $('.increase-qty-btn').click(function() {
      const input = $(this).closest('td').find('input');
      input.val(parseInt(input.val()) + 1);
      const productId = input.data('product-id');
      updateCart(productId, input.val());
    });

    function updateCart(productId, quantity) {
      axios.post('cart/update', {
        product_id: productId,
        quantity
      }).then(({ data: { data } }) => {
        const unitPrice = $(`.unit-price[data-product-id="${productId}"]`);
        const subtotal = $(`.subtotal[data-product-id="${productId}"]`);
        $('.total').text(data.total_price);
        subtotal.text((parseInt(unitPrice.text()) * quantity).toFixed(2));
      }).catch(err => {
        console.error(err);
      });
    }
  });
</script>


<%- include("./layouts/footer") %>