<%- include("./layouts/header") %>

<!-- Carousel -->
<%- include("./partials/carousel.ejs") %>

<!-- New Release -->
<div class="container">
    <section id="new-release">
        <div class="row">
            <div class="col-12">
                <h2 class="text-start fw-bold mt-5 mb-4">New Release</h2>
            </div>
        </div>
        <div id="new-release-product" class="overflow-auto d-flex gap-3">
            <% newProducts.forEach((newProduct) => { %>
                <div class="col-auto">
                    <div class="card h-100 position-relative" style="min-width: 150px;">
                        <img
                                src="/<%= newProduct.product_images[0]?.image_path; %>"
                                class="card-img-top product-card-img"
                                alt="Image of <%= newProduct.name; %>"
                        />

                        <div class="product-card-upper-layer position-absolute">
                            <div class="product-card-inner-layer">
                                <a class="text-decoration-none product-card-title"
                                   href="/products/<%= newProduct.slug %>">
                                    <h5 class="card-title card-header-style fw-bold"><%= newProduct.name; %></h5>
                                </a>

                                <div class="price">
                                    <p class="card-text text-white fw-bold">
                                        ฿ <%= newProduct.price.toLocaleString(); %>
                                    </p>
                                </div>

                                <a href="/products/<%= newProduct.slug %>" class="btn btn-sm rounded-2 mt-2 btn-apex">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>

        <!-- New Release load forward and backward button -->
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="d-flex justify-content-end">
                    <button
                            id="new-release-product-scroll-left"
                            type="button"
                            class="btn btn-warning me-4"
                            style="border-radius: 20px"
                    >
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>

                    <button
                            id="new-release-product-scroll-right"
                            type="button"
                            class="btn btn-warning me-4"
                            style="border-radius: 20px"
                    >
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Equipment shop now -->
    <section id="Equipment">
        <div class="row">
            <div class="col-md-6 mt-5">
                <img
                        class="img-fluid mx-auto d-block"
                        src="images/badminton.png"
                        alt="badminton"
                />
            </div>
            <div
                    class="text-center col-md-6 mt-md-0 mt-4 d-flex flex-column justify-content-center"
            >
                <h1 class="fst-italic fw-bold">
                    All fitness accessories in one place
                </h1>
                <p class="fw-light">get yours today</p>
                <div>
                    <a href="/types/accessories" type="button" class="btn btn-warning shop-now-button">
                        Shop Now
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- feature products -->
<section id="feature-products">
    <div class="container">
        <h2 class="text-start fw-bold">Featured Products</h2>
    </div>
    <div class="feature_bg py-5">
        <div class="container">
            <div class="row">
                <% featuredProducts.forEach(featuredProduct => { %>
                <div class="col-lg-3 col-6 my-4">
                    <div class="card h-100">
                        <img
                                src="<%= featuredProduct.product_images[0]?.image_path %>"
                                class="card-img-top object-fit-cover border rounded"
                                style="height: 17rem;"
                                alt="football-shoes"
                        />

                        <div class="card-body">
                            <h5 class="card-title card-header-style"><%= featuredProduct.name %></h5>
                        </div>
                        <div
                                style="border: none; background-color: transparent"
                                class="card-footer p-3"
                        >
                            <a href="/products/<%= featuredProduct.slug %>" type="button" class="btn feature_button shop-now-button">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
                <% }); %>

                <div class="d-grid col-12 mx-auto py-3">
                    <button type="button" class="btn btn-outline-dark">Shop More</button>

                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <!-- Sportswear shop now -->
    <section id="Sportswear">
        <div class="row flex-column-reverse flex-md-row">
            <div
                    class="text-center col-md-6 mt-md-0 mt-4 d-flex flex-column justify-content-center"
            >
                <h1 class="fst-italic fw-bold">
                    Your favorite sportswear in one place
                </h1>
                <p class="fw-light">get yours today</p>
                <div>
                    <a href="/types/sportswear" type="button" class="btn btn-warning shop-now-button">
                        Shop Now
                    </a>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <img
                        class="img-fluid mx-auto d-block"
                        src="images/pink_sportbra.png"
                        alt="pink_sportbra"
                />
            </div>
        </div>
    </section>
</div>

<script>
  $(document).ready(function() {
    const newReleaseProduct = $("#new-release-product")
    $("#new-release-product-scroll-left").click(function() {
      newReleaseProduct.animate({ scrollLeft: newReleaseProduct.scrollLeft() - 200 });
    });

    $("#new-release-product-scroll-right").click(function() {
      newReleaseProduct.animate({ scrollLeft: newReleaseProduct.scrollLeft() + 200 });
    });
  });
</script>

<%- include('./layouts/footer.ejs') %>
